//mixins
@mixin breakpoint($point) {
	@if $point == large {
		@media (min-width: 980px) { @content; }
	}
	@else if $point == medium {
		@media (max-width: 980px)  { @content; }
	}
	@else if $point == small {
		@media (max-width: 760px)  { @content; }
	}
}

@mixin transition($x){
	-webkit-transition: $x;
	-o-transition: $x;
	transition: $x;
	-moz-transition: $x;
}

@mixin transicao-delay($time){
	-webkit-transition-delay: $time;
	-o-transition-delay: $time;
	transition-delay: $time;
	-moz-transition-delay: $time;
}

@mixin transform($x){
	-ms-transform: $x;
	-webkit-transform: $x;
	transform: $x;
	-moz-transform: $x;
}
//Como usar
//@include trans(rotate(-135deg) skew(-10deg, -10deg));

@mixin animation($x){
	-webkit-animation: $x;
	-moz-animation: $x;
	-ms-animation: $x;
	-o-animation: $x;
	animation: $x;
}
//Propriedades de como usar
// name: nome da animação
// duration: tempo de duração da animação
// timing: tipo ex: ease-in-out
// count: pode ser usado como infinit ou delay
// fill: sempre forwards, para travar a animação no final


@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
//Como usar
//@include keyframes(nome_animacao){
// conteudo
// };


@mixin filter($valor){
	-moz-filter: blur($valor);
	-webkit-filter: blur($valor);
	-o-filter: blur($valor);
	filter: blur($valor);
}

@mixin placeholder(){
	::-webkit-input-placeholder {
		 @content
	 }
	 :-moz-placeholder {
		@content
	}
	::-moz-placeholder {
		@content
	}
	:-ms-input-placeholder {
		@content
	}
}