/* --------------------------------------------------
   Resets
   -------------------------------------------------- */

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0; font-weight: normal; font-style: normal; text-decoration: none; outline: none; list-style: none; }  body { margin: 0; font-family: sans-serif } * { outline: none } a, a:active, a:visited, a:hover { cursor: pointer; text-decoration: none; }

/* polyfill */
header, nav, section, article, main, aside, footer { display: block }

/* global box-sizing */
*, *:after, *:before { -moz-box-sizing: border-box; box-sizing: border-box; }

/* font-sizing */
html { font-size: 62.5% }  /* html element 62.5% font-size for REM use */

/* fontes otimizadas para leitura de artigos */
article { -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }

/* clearfix */
.clear:before, .clear:after { content: " "; display: table } .clear:after { clear: both } .clear { *zoom: 1; } .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden} .clearfix { display: block; height: 1% } .clearfix:before, .clearfix:after { content: " "; display: table; } .clearfix:after { clear: both; } .clearfix { *zoom: 1; }

/* width by container */
img { max-width: 100%; width: 100%; vertical-align: bottom; height: auto; }


/* --------------------------------------------------
   Default wordpress classes
   -------------------------------------------------- */

.screen-reader-text {  }

/* default wordpress align classes */
.alignnone   { margin:  5px 20px 20px  5px; }
.aligncenter { margin:  5px auto  5px auto; }
.alignright  { margin:  5px  0px 20px 20px; float: right; }
.alignleft   { margin:  5px 20px  5px  0px; float: left; }

/* default wordpress img captions */
.wp-caption {  }
.wp-caption .size-full { width: 100%; height: auto; }
.wp-caption.alignnone  { margin:  5px  0px; }
.wp-caption.alignleft  { margin:  5px 20px  5px  0px; }
.wp-caption.alignright { margin:  5px  0px  5px 20px; }

/* default wordpress gallery classes */
.gallery-caption, .wp-caption p.wp-caption-text { font-size: 1.3em;  margin: 0; color: #67b4b9; font-weight: bold; font-style: italic; }

/* default wordpress comments classes */
.sticky { }
.bypostauthor { }

/* default wordpress post classes */
.bypostauthor {  }
